<%= form_for([@deck, @card]) do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <fieldset>
        <legend> Card </legend>
          <%= render 'form', f: f %>
          <%= f.submit "Update Card", :class => "small button success radius" %>
          <%= link_to "Cancel", deck_url(@deck), :class => "small button secondary radius" %>
      </fieldset>
    </div>
  </div>
<% end %>
