<%= title @cardback %>
<div class="row">
  <div class="small-12 columns">
    <fieldset>
    <legend>Back</legend>
    <p> <%= @cardback %> </p>
    <%= print @cardback %>
      <%= link_to "Back", deck_url(), :class => "small button secondary radius" %><br />
    </fieldset>
  </div>
</div>
