<%= form_for(@deck) do |form| %>
  <div class="small-4 columns">
      <%= form.label :name %>
      <%= form.text_field :name %>
      <%= form.submit "Update Deck", :class => "small button radius" %>
  </div>
<% end %>
