<% title "Furashcaado App" %>
<div class="row">
  <div class="small-12 columns">
    <h1>Decks</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <p>
    <%= link_to "New Deck", new_deck_url, :class => "small button success radius" %>
  </div>
</div>
<div class="row">
  <fieldset>
    <legend>Choose a Language</legend>
    <% @decks.each do |deck| %>
    <div class="small-8 columns"><%= link_to deck.name, deck_url(deck.id) %></div>
    <div class="small-4 columns" style="text-align:right;">
      <%= link_to "Edit",
                   edit_deck_url(deck.id),
                   :class => "tiny button radius" %>
      <%= link_to "Delete",
                   deck_url(deck.id),
                   method: :delete,
                   data: { confirm: 'Are you sure?' },
                   :class => "tiny button alert radius" %>
    </div>
  <% end %>
  </fieldset>
</div>

