<%= title @deck.name %>
<div class="row">
  <div class="small-12 columns">
    <fieldset>
    <legend>Deck</legend>
      <p> <%= @deck.name %> </p>
      <%= link_to "Back", decks_url, :class => "small button secondary radius" %><br />
    </fieldset>
  </div>
</div>
